DJANGO_SETTINGS_MODULE=Oxossi.settings.local
CELERY_BROKER_URL=amqp://broker:5672//
# Please choose postgres or sqlite as your DB:
# DATABASE_URL=postgres://Oxossi:password@db:5432/Oxossi
# DATABASE_URL=sqlite:///db.sqlite3
